.TodoList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  font-size: 30px;
}

.TodoList__todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
